{{ current_timestamp | string }};{{ task_code | string }};{{ execution_result | string }};{{ task_result_description | string }};{{ task_result | string }};{{ task_description | string  }};{{ checklist_code | string }}